.conic {
    position: relative;
    z-index: 0;
    width: 90%;
    margin: 0 auto;
    height: 50px;
    
    border-radius: 10px;
    overflow: hidden;
    padding: 0.6rem;
}
 .conic::before {
        content: '';
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 2000px;
        background-color: #c9d1d7;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: conic-gradient(transparent, rgb(254, 104, 81), transparent 30%);
        animation: rotate 4s linear infinite;
    }

    .conic::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
      
        border-radius: 5px;
    }
